* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: transparent linear-gradient(135deg, #a1c4fd 0%, #c2e9fb 100%) 0%
    0% no-repeat padding-box;
  opacity: 1;
  display: grid;
  place-items: center;
}

.todo-container {
  width: 900px;
  height: 577px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 12px #0000001f;
  border-radius: 20px;
  opacity: 1;
  padding: 50px;
  margin-bottom: 100px;
}

.todo-header {
  text-align: center;
  font: normal normal bold 40px/44px Montserrat;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  margin-bottom: 13px;
}

.todo-description {
  text-align: center;
  font: normal normal normal 18px/26px Montserrat;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.todo-list {
  width: 800px;
  height: 227px;
  max-height: 227px;
  overflow-y: auto;
  background: #f7f7f7 0% 0% no-repeat padding-box;
  border: 1px solid #cccccc;
  opacity: 1;
  margin-top: 35px;
  margin-bottom: 30px;
  list-style: none;
  padding: 10px;
}

.todo-list li {
  text-align: left; /* Default: Left-align text */
  display: flex;
  align-items: center; /* Center text vertically */
  width: 778px;
  height: 40px;
  font: normal normal normal 18px/26px Montserrat;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  cursor: pointer;
  padding-left: 10px;
}

/* Hover Effect */
.todo-list li:hover {
  background-color: gray;
  color: white;
}

/* Selected State */
.todo-list li.selected {
  background: #324bff 0% 0% no-repeat padding-box;
  color: white;
  opacity: 1;
}

.todo-button-container {
  display: flex;
  justify-content: space-between;
}

.group-delete-button {
  display: flex;
  gap: 10px;
}

.todo-revert-button {
  width: 81px !important;
  height: 49px !important;
  font-size: 18px !important;
}

.primary-button {
  width: 138px;
  height: 49px;
  background: #324bff 0% 0% no-repeat padding-box;
  border: 1px solid #324bff;
  border-radius: 50px;
  opacity: 1;
  text-align: center;
  font: normal normal 500 16px/22px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
}

.secondary-button {
  width: 124px;
  height: 49px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #324bff;
  border-radius: 50px;
  opacity: 1;
  text-align: center;
  font: normal normal 500 16px/22px Montserrat;
  letter-spacing: 0px;
  color: #324bff;
  text-transform: uppercase;
}
